@charset "UTF-8";

div#conteudolateral1 img#fotolat1{
    display: block;
    position: relative;
    margin-top: -36px;
    margin-left: 2px;
}
div#conteudolateral1 {
    display: block;
    position: absolute;
    width: 350px;
    height: 250px;    
    margin-top: -489px;
    margin-right: 0px;
    margin-left: 650px;
}
div#conteudolateral2 {
    display: block;
    position: relative;
    width: 350px;
    height: 250px;    
    background-color: black;
    margin-top: -278px;
    margin-right: 0px;
    margin-left: 650px;
    
}   