@charset "UTF-8";

td.dados {
    background-color: rgba(255, 255, 255, 0.534);
    font-size: 12pt;
    padding: 10px;
    border: 1px solid black;
}

td.descricao {
    background-color: rgba(255, 255, 255, 0.507);
    border: 1px solid black;
    font-size: 15pt;
    text-shadow: 1px 1px 1px black;
}

section#conteudo-principal table#tabdados {
    margin-left: 260px;
    padding-top: 30px;
    margin-top: -500px;
    margin-bottom: 210px;
}

caption {
    background-color: gray;
    margin-bottom: 2px;
    border: 1px solid white;
    padding: 1px;
    margin-top: 18px;
    font-weight: bolder;
    font-size: 15pt;
    text-shadow: 1px 1px 1px black;
    
}
div#conteudolateral1 {
    display: block;
    position: absolute;
    width: 350px;
    height: 250px;    
    margin-top: -535px;
    margin-right: 0px;
    margin-left: 650px;
}
div#conteudolateral2 {
    display: block;
    position: relative;
    width: 350px;
    height: 250px;    
    background-color: black;
    margin-top: -300px;
    margin-right: 0px;
    margin-left: 650px;
    
}

footer#dados {
    text-align: center;
    color: white;
    font-size: bold;
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: 30px;
}
