@charset "UTF-8";

div#experiencias p.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 15px;
    text-shadow: none;
    color: black;
    
}
div#experiencias h1.exp {
    background-color: rgba(0, 0, 0, 0.432);
    text-align: center;
    font-size: 10pt;
    margin-top: 0px;
    color: white;
    
}
div#experiencias h3.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    font-size: 15pt;
    margin-bottom: 100px;
    border-top: 1px solid white;
}
div#experiencias h4.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    font-size: 10pt;
    margin-top: 1px
}

div#experiencias p.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -17px;
    margin-bottom: 0px;
    font-size: 15px;
    text-shadow: none;
}
div#experiencias h1.exp {
    background-color: rgba(0, 0, 0, 0.432);
    text-align: center;
    font-size: 10pt;
    margin-top: 0px;
    color: black;
    text-shadow: 1px 1px 1px white;
}
div#experiencias h3.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    font-size: 15pt;
    margin-top: 0px;
    border-top: 1px solid white;
}
div#experiencias h4.exp {
    text-indent: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    text-align: justify;
    font-size: 10pt;
    margin-top: -19px
}
div#experiencias {
    position: relative;
    width: 480px;
    margin-top: -525px;
    margin-left: 170px;
    background-color: gray;
    color:white;
    text-shadow: 1px 1px 1px black;
}
div#conteudolateral1 {
    display: block;
    position: absolute;
    width: 350px;
    height: 250px;    
    margin-top: -775px;
    margin-right: 0px;
    margin-left: 650px;
}
div#conteudolateral2 {
    display: block;
    position: relative;
    width: 350px;
    height: 250px;    
    background-color: black;
    margin-top: -550px;
    margin-right: 0px;
    margin-left: 650px;
    padding-bottom: 10px;
    
}

footer#exp {
    position: relative;
    text-align: center;
    color: white;
    font-size: bold;
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: 5px;
}

}
div#corpoexp {
    height: 500px;
}
