@charset "UTF-8";

div#conteudolateral1 img#fotolat1{
    display: block;
    position: relative;
    margin-top: -36px;
    margin-left: 2px;
}
div#conteudolateral1 {
    display: block;
    position: absolute;
    width: 350px;
    height: 250px;    
    margin-top: -721px;
    margin-right: 0px;
    margin-left: 650px;
}
div#conteudolateral2 {
    display: block;
    position: relative;
    width: 350px;
    height: 250px;    
    background-color: black;
    margin-top: -527px;
    margin-right: 0px;
    margin-left: 650px;
    
}   

fieldset#usuario{
    margin-left: 180px;
    margin-right: 360px;
    margin-top: -520px;
    padding-left: 25px;
    background-color: black;
    font-weight: bold;
}
fieldset#endereco {
    margin-left: 180px;
    margin-right: 360px;
    padding-left: 25px;
    background-color: black;
    font-weight: bold;
}
fieldset#mensagem {
    margin-left: 180px;
    margin-right: 360px;
    padding-left: 25px;
    background-color: black;
    font-weight: bold;
}
input#enviar {
    margin-left: 350px;
}
footer#falecomigo {
    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    margin-top: 250px;
}
